<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/kadha.jpg" class="d-block w-100" width="100px" height="640px"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(239, 162, 20);">Kathakali</h5>
          <p style="color: rgb(239, 162, 20);">‘Kathakali’, an important genre in the Indian classical dance form, is associated with storytelling form of this art.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/pxfuel.jpg" class="d-block w-100" width="400px" height="650px"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(239, 162, 20);">Mohini attam</h5>
          <p style="color: rgb(239, 162, 20);">mohini attam, (Malayalam: “dance of the enchantress”) also spelled mohiniattam or mohiniyattam, semiclassical dance form from the state of Kerala.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/3.jpg" class="d-block w-100" width="200px" height="650px"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(239, 162, 20);">Indian artforms</h5>
          <p style="color: rgb(239, 162, 20);">A country as diverse as India is symbolized by the plurality of its culture. India has one of the world's largest collections of songs, music, dance, theatre, folk traditions, performing arts, rites and rituals, paintings and writings that are known, as the 'Intangible Cultural Heritage' (ICH) of humanity.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


